[Unit]
Description=undercloud-setup
Requires=os-collect-config-one-time.service
After=os-collect-config-one-time.service
Before=os-collect-config.service

[Service]
Type=oneshot
# There is a sleep here because os-collect-config exits before all services are
# actually up and configured.
ExecStart=/opt/stack/undercloud-live/bin/undercloud-setup.sh
User=stack
SupplementaryGroups=libvirtd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
