[Unit]
Description=undercloud-configure
Before=os-collect-config-one-time.service
Requires=libvirtd.service
After=libvirtd.service

[Service]
Type=oneshot
ExecStart=/opt/stack/undercloud-live/bin/undercloud-configure.sh
User=stack
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
RequiredBy=os-collect-config-one-time.service
