[Unit]
Description=undercloud-network
Requires=undercloud-configure.service
After=undercloud-configure.service
Before=os-collect-config.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'source /etc/profile.d/virsh.sh && /opt/stack/undercloud-live/bin/undercloud-network.sh'
User=stack

[Install]
WantedBy=multi-user.target
RequiredBy=os-collect-config.service
